﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
<<<<<<< HEAD
=======

>>>>>>> 7ba5d651ff43d8ee95db1c91879214cc45f024e1

</head>
<body>

    <div id="container">

        <header></header>

        <main>
            <nav>
                
            </nav>
            <content>
                @RenderBody()
            </content>
            <aside></aside>
        </main>

        <footer></footer>

    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
